:root {--darkBlue:#395B64;
       --lightBlue:#A5C9CA;
       --darkGray:#2C3333;
       --lightGray:#B3B3B4;
       --white:#E7F6F2;
       --black:#000000;
    }

* {
    font-family: 'Roboto', sans-serif;
    background-color: var(--darkBlue);
}

body {
    /* display: flex;
    flex-direction: column; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--darkGray);
    color: var(--white);
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
}

nav ul {
    width: 400px;
}

nav li {
    display: inline-block !important;
    margin-right: 5px;
    width: 100px;
}

nav a {
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}

.AboutMe {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, nav a, nav ul {
    background-color: transparent;
}

footer {
    display: flex;
    justify-content: right;
    position: fixed;
    right: 5%;
    bottom: 2%;
}

.projects {
    display: inline-flex;
    justify-content: center;
}

.Horiseon {
    width: 40%;
}

@media screen and (max-width: 768px) {
    .Horiseon{
        min-width: 50%;
    }
}